.alert {
  background-color: $gray-200;
  font-size: rem($root-font-size);
  font-weight: $font-bold;
  padding: rem(8 16);

  &--center {
    text-align: center;
  }

  &--right {
    text-align: right;
  }

  @each $name, $color in $alert-colors {
    &--#{$name} {
      background-color: $color;
      color: $white;
    }
  }
}