@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

@import 
  'abstracts/colors',
  'abstracts/functions',
  'abstracts/variables',
  'abstracts/mixins',
  'base/reset',
  // 'base/background-colors',
  'base/elements',
  'controls/buttons',
  // 'controls/checkbox',
  // 'controls/text-input',
  // 'controls/radio-button',
  // 'controls/select-menu',
  'informational/alert',
  // 'informational/hint',
  // 'informational/label',
  // 'informational/modal',
  // 'layout/content',
  'layout/flex',
  'layout/page',
  // 'layout/table',
  // 'lists/bullet-list',
  'lists/horizontal-list',
  'lists/vertical-list',
  'spacing/margin',
  // 'spacing/padding',
  'typography/alignment',
  'typography/colors',
  'typography/sizes',
  // 'utilities/display'
  'typography/weights';
