@import '../../styles/tools';

.user-list {
  min-width: 95%;
  border: rem(1) solid $gray-200;

  & > * {
    padding: rem(8);
  }

  & > :nth-child(even) {
    background: $gray-100;
  }

  @media (min-width: $breakpoint-medium) {
    min-width: 50%;
  }
}